@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    padding: 8px 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: variaveis.$corDeFundoSecundario;


    .header__content {
        img {
            margin: 5px;
            width: 100%;
            max-width: 200px;
        }
    }

    .header__content_links {
        
        ul {
            list-style: none;
            display: flex;

            @media (max-width: 768px) {
                display: block;
            }
            li {
                letter-spacing: 2px;
                margin: 20px;
            }
        }
    }
}