@use 'variaveis';

.livros {
    padding: 5.6vw;
    min-height: 80vh;
    background-color: variaveis.$corDeFundoSecundario;

    &__content {
        display: flex;  
        justify-content: center;
        align-items: center;      

        &_books {
            img {
                max-width: 600px;
                border-radius: 10px;
            }
        }

        &_story {
            text-align: center;
            
            h1 {
                
            }

            p{
                padding: 20px;
            }
        }
    }
}