.netflix {
    padding: 5.6vw;


    &__content {
        display: flex;  
        justify-content: center;
        align-items: center;      

        &_story {
            text-align: center;
            
            h1 {
                
            }

            p{
                padding: 20px;
            }
        }

                &_serie {
            img {
                max-width: 600px;
                border-radius: 10px;
            }
        }
    }
}